{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="logo" src="{% static 'images/logo.jpg' %}" alt="logo">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
            <a class="nav-link" href="{% url 'create_project' %}">Create Project</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/admin">ADMIN DAJ COŚ</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/">CZERNICH PIZDA</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Funkcja 4</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>